<h1>Bonjour !</h1>

<p>Pour réinitialiser votre mot de passe, cliquez sur le lien ci-dessous (mieux vaut copier / coller le lien, ça marchera mieux !)</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Toute l'équipe de Git'Out vous souhaite une bonne journée ! </p>
