{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    {{ form (form) }}
{#    <form method="post" action="monProfil.html.twig">#}
{#        <label for="mdpActuel">Mot de passe actuel</label>#}
{#        <input type="password" name="oldPassword" id="oldPassword" value="oldPassword"  required autofocus><br>#}
{#        <label for="newPassword">Nouveau mot de passe</label>#}
{#        <input type="password" name="newPassword" id="newPassword" value="newPassword" required><br>#}
{#        <label for="confirmPassword">confirmez nouveau mot de passe</label>#}
{#        <input type="password" name="confirmPassword" id="confirmPassword"  required><br>#}
{#        <button >Valider</button>#}
{#    </form>#}


{% endblock %}

