{% extends 'base.html.twig' %}

{% block h1 %}
    <h1>Modifier une Sortie</h1>
{% endblock %}

{% block body %}

{{ form(sortieForm) }}

    <button type="button" onClick="window.history.back();" class="bg-lime-500 hover:bg-lime-700 text-white font-bold py-2 px-4 border border-lime-700 rounded">Go back</button>

{% endblock %}

{% block title %}
Modifier une Sortie
{% endblock %}

