{% extends 'base.html.twig' %}

{% block h1 %}
    <h1>Modifier une Sortie</h1>
{% endblock %}

{% block body %}

{{ form(sortieForm) }}

    <button type="button" onClick="window.history.back();">Go back</button>

{% endblock %}

{% block title %}
Modifier une Sortie
{% endblock %}

