{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h1 class="ml-8 py-4 text-4xl text-gray-900 font-hepta">Accueil</h1>
    <div class="flex justify-center">
        <div class="w-1/2 flex flex-col">
            <div class="flex">
                <p class="text-center">Bienvenue sur le site de Git'out!</p>
            </div>
            <div class="text-center">
                <p>Ce site permet aux élèves de l'ENI d'organiser des sorties entre eux. Chaque élève a la possibilité d'organiser la sortie qu'il souhaite et de laisser les autres s'y inscrire.
                    N'hésitez pas!</p>
            </div>
        </div>
    </div>


{% endblock %}
