{% extends 'base.html.twig' %}

{% block title %}Erreur{% endblock %}

{% block body %}

    <div class="flex justify-center items-center">
        <img src="{{ asset('images/mascotte404.jpg') }}"  alt="">
    </div>

{% endblock %}